<!DOCTYPE html>
<html>

<body>
    <div class="container">
        <div class="card-deck card-columns">
            <div class="card">
                <img class="card-img-top" src="images\face.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">CEO</h5>
                    <p class="card-text">CEO stands for Chief Executive Officer. It is the highest position anyone can get up the corporate ladder. Being a CEO, means you are the boss of all bosses. But CEO functions may vary from one organization to another. Even the job title CEO may not be the same for other companies.</p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="images\woman-1353825_1280.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">CTO</h5>
                    <p class="card-text">A chief technology officer (CTO) is the executive in charge of an organization's technological needs as well as its research and development (R&D).
                    </p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="images\man-156584_1280.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">CFO</h5>
                    <p class="card-text">Chief Financial Officer. Strategy, Planning and Management. Act as Chief Financial Officer and strategic business partner to senior executive leadership team. Assess and evaluate financial performance of organization with regard to long-term operational goals, budgets and forecasts.</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>