<!DOCTYPE html>
<html>

<body>
    <div class="container">
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand">
              <img src="images\popular.svg" width="30" height="30" class="d-inline-block align-top" alt="">
              Trending
            </a>
          </nav>
        <div class="card">
            <span class="badge badge-primary">Primary</span>
            <div class="card-body">
                <p class="card-text">
                    Cards are built with as little markup and styles as possible, but still manage to deliver a ton of control and customization. Built with flexbox, they offer easy alignment and mix well with other Bootstrap components. They have no margin by default, so use spacing utilities as needed.
                </p>
            </div>
        </div>
        <div class="card">
            <span class="badge badge-secondary">Secondary</span>
            <div class="card-body">
                <p class="card-text">
                    Cards are built with as little markup and styles as possible, but still manage to deliver a ton of control and customization. Built with flexbox, they offer easy alignment and mix well with other Bootstrap components. They have no margin by default, so use spacing utilities as needed.
                </p>
            </div>
        </div>

        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand">
              <img src="images\news-office.svg" width="30" height="30" class="d-inline-block align-top" alt="">
              News Feed
            </a>
          </nav>
        <div class="card">
            <span class="badge badge-success">Success</span>
            <div class="card-body">
                <p class="card-text">
                    Cards are built with as little markup and styles as possible, but still manage to deliver a ton of control and customization. Built with flexbox, they offer easy alignment and mix well with other Bootstrap components. They have no margin by default, so use spacing utilities as needed.
                </p>
            </div>
        </div>
        <div class="card">
            <span class="badge badge-danger">Danger</span>
            <div class="card-body">
                <p class="card-text">
                    Cards are built with as little markup and styles as possible, but still manage to deliver a ton of control and customization. Built with flexbox, they offer easy alignment and mix well with other Bootstrap components. They have no margin by default, so use spacing utilities as needed.
                </p>
            </div>
        </div>
        <div class="card">
            <span class="badge badge-warning">Warning</span>
            <div class="card-body">
                <p class="card-text">
                    Cards are built with as little markup and styles as possible, but still manage to deliver a ton of control and customization. Built with flexbox, they offer easy alignment and mix well with other Bootstrap components. They have no margin by default, so use spacing utilities as needed.
                </p>
            </div>
        </div>
        <div class="card">
            <span class="badge badge-info">Info</span>
            <div class="card-body">
                <p class="card-text">
                    Cards are built with as little markup and styles as possible, but still manage to deliver a ton of control and customization. Built with flexbox, they offer easy alignment and mix well with other Bootstrap components. They have no margin by default, so use spacing utilities as needed.
                </p>
            </div>
        </div>
        <div class="card">
            <span class="badge badge-dark">Dark</span>
            <div class="card-body">
                <p class="card-text">
                    Cards are built with as little markup and styles as possible, but still manage to deliver a ton of control and customization. Built with flexbox, they offer easy alignment and mix well with other Bootstrap components. They have no margin by default, so use spacing utilities as needed.
                </p>
            </div>
        </div>
    </div>
</body>    
</html>
